.banner-border {
    border: solid;
    border-top: white;
    border-bottom: white;
    border-width: thin;
}

.container.banner {
    display: inline;
}

.row.banner {
    text-align: center;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
