.movieList-title {
    margin-left: 3vw;
    margin-top: 3vh;
}

.movieList-img {
    max-height: 30vh;
    margin: 0 auto;
    border: 2px solid transparent;
    cursor: pointer;
}

.movieList-img:hover {
    border: 2px solid #ffc107;

}
